.frame-info {
  padding: 10px;
  background-color: #F5F5F5;
  margin: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.frame-info-liste {
  padding-top: 10px;
  background-color: #F5F5F5;
  margin: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  ul {
    list-style: none;
  }
}
